<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Hola
		</title>
	</head>
	<body>

		<h1>
			Bienvenido a contactos.
		</h1>

		<a href="../index.html">
			Regresar al home
		</a>

		<br>
		<br>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29134.652632875233!2d-110.31674880000001!3d24.107417599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86afd348fb151f55%3A0x7f81efee9809f704!2sDr%20Villa%20Oftalm%C3%B3logo!5e0!3m2!1ses!2smx!4v1757557748152!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		<br>
		<br>

		<table>
			
			<tr>
				<th>
					nombre
				</th>
				<th>
					email
				</th>
				<th>
					telefono
				</th>
			</tr>

			<tr>
				<td>
					tilin
				</td>
				<td>
					tilin@gmail.com
				</td>
				<td>
					61223324345
				</td>
			</tr>

			<tr>
				<td>
					cesar
				</td>
				<td>
					csar@gmail.com
				</td>
				<td>
					61223264
				</td>
			</tr>

			<tr>
				<td>
					pepito
				</td>
				<td>
					pepito@gmail.com
				</td>
				<td>
					61212323345
				</td>
			</tr>

			<tr>
				<th>
					nombre
				</th>
				<th>
					email
				</th>
				<th>
					telefono
				</th>
			</tr>

		</table>

		<br>

		<form>

			<label>
				Correo electronico
			</label>
			<input type="email" name="" value="blopez@aluuabcs.mx" readonly>

			<br>
			<br>

			<label for="name">
				Ingrese su nombre:
			</label>
			
			<input type="text" name="" id = "name" autofocus value="" minlength="5" maxlength="20" size="50" pattern="[A-Za-z]{3}" title="Solo 3 letras" required>
			

			<br>

			<label for="lastName">
				Ingrese su apellido:
			</label>
			
			<input type="text" name="" id="lastName" value="" minlength="5" maxlength="20" required disabled>
			
			<br>
			<br>

			<label>
				Ingrese su genero:
			</label>

			<br>

			<label for="female">
				Mujer
			</label>
			<input type="radio" name="gender" id="female" value="mujer">
			
			<label for="men">
				Hombre
			</label>
			<input type="radio" name="gender" id="men" value="hombre">
			
			<br>
			<br>

			<label>
				Telefono
			</label>
			<input type="number" min="0" max="20" step="2" name="">

			<br>
			<br>	

			<label>
				Preferencias:
			</label>

			<label>
				Pizza
			</label>
			<input type="checkbox" name="pizza">

			<label>
				Pozole
			</label>
			<input type="checkbox" name="pozole">

			<br>

			<input type="submit" name="" value = "Guardar">
			<input type="button" name="" value = "hola">

		</form>

	</body>
</html>