<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Formulario
	</title>

	<link rel="stylesheet" type="text/css" href="../Assets/Styles/form_validado.css">

</head>
<body>
	<div class="main_container">
		
		<form onsubmit="return validateEmail()">
			<p>
				Nombre:
			</p>
			<input type="text" name="nombre" onkeypress="return onlyLetters(event)" required>

			<p>
				Apellido:
			</p>
			<input type="text" name="apellido" onkeypress="return onlyLetters(event)" required>

			<p>
				Telefono:
			</p>
			<input type="text" name="telefono" onkeypress="return onlyNumbers(event)" required>

			<p>
				Correo:
			</p>
			<input type="text" name="correo" id="email" placeholder="ejemplo@correo.com" oninput="return validateEmail(event)" required>

			<p>
				Genero:
			</p>

			<label>
				Hombre
			</label>
			<input type="radio" name="gender" value="hombre" required>

			<label>
				Mujer
			</label>
			<input type="radio" name="gender" value="mujer" required>

			<p>
				Biografia:
			</p>
			<textarea class="entrada_form"></textarea>

			<p></p>

			<input type="submit" name="" value = "Enviar">

			<p></p>

			<a href="../index.html">
				Volver
			</a>

		</form>

	</div>

	<script src="../Assets/js/script.js"></script>

</body>
</html>