<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Pokedex
	</title>

</head>
<body>

	<div class="poke_container">
		
		<input type="text" id="input_poke_name" placeholder="Ejem: pikachu">

		<button onclick="getPokeData()">
			Consultar informacion
		</button>

		<div class="poke" id="poke_data">
			
		</div> 
		<h1 id="display_poke_name">
			
		</h1>

	</div> 
	
	<script src="../Assets/js/pokedex_scripts.js"></script>

</body>
</html>